.portal {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
}

.portal__block {
    position: relative;
    background-color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 4px;
    width: 400px;
}